{% extends "!layout.html" %}

{% block extrahead %}

<meta name="description"
    content="Garmin.com/express is your go to tool for easily managing, updating, and registering your Garmin devices." />
<meta name="keywords"
    content="garmin.com/express, Garmin Express download, install Garmin Express, Garmin device setup, Garmin software update, download Garmin Express for Windows, Garmin Express for Mac, connect Garmin device to computer, update Garmin GPS, register Garmin device" />
<meta name="robots" content="index, follow" />
<title>Garmin.com/express - Secure portal to Download and Install Garmin Express</title>

    {{ super() }}
{% endblock %}
